/*
=========================================================================
    Nextflow config file for CBMI NGS Pipeline
=========================================================================


-------------------------------------------------------------------------
    General settings
-------------------------------------------------------------------------
*/

manifest.author = "Dominik Probst, Dang Quoc Binh Trinh"
params.VERSION = '1.0.1'

params.input_file = 'accessions.txt'
params.output = 'data'                      // directory name

params.max_disk_usage = 10 * 100000000000   // 10 * 100GB

params.file_mode = 'event'                  // 'pull' or 'event'
params.pull_interval = 10                   // pull interval in sec
params.est_size_fact = 17

/*
-------------------------------------------------------------------------
    Analysis parameters
-------------------------------------------------------------------------
*/

params.readseeker.threshold = 0.5 
params.blastn.evalue = 1e-5

/*
-------------------------------------------------------------------------
    Paths to Reference Databases
-------------------------------------------------------------------------

references: 

TOOL:               REFERENCE:
mapping:                        https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_000001405.26/
kraken2 db:                     https://benlangmead.github.io/aws-indexes/k2
blastn:                         https://www.ncbi.nlm.nih.gov/books/NBK569850/
blastx:                         https://ftp.uniprot.org/pub/databases/uniprot/current_release/knowledgebase/complete/uniprot_sprot.fasta.gz
(diamond) complete-genomes:     https://hackmd.io/@AstrobioMike/RefSeq-db-download
*/

params.mapping_database = [
    "${projectDir}/databases/mapping/homo-sapiens/genomic/GCF_000001405.40_GRCh38.p14_genomic.fna"
]

params.kraken2_database = [
    "${projectDir}/databases/kraken2/pluspfp"
    // "${projectDir}/evaluation/experimental-db/kraken2/experimental"
]

params.blastx_database = [
    "${projectDir}/databases/diamond/swissprot_2025_04/swissprot_2025_04"
    // "${projectDir}/evaluation/experimental-db/diamond/experimental"
]

params.blastn_database = [
    "${projectDir}/databases/blastn/nt/nt"
    // "${projectDir}/evaluation/experimental-db/blastn/experimental"
]

/*
-------------------------------------------------------------------------
    Program command names
-------------------------------------------------------------------------
*/


params.prefetch     = 'prefetch'
params.fasterq_dump = 'fasterq-dump'
params.vdb_dump     = 'vdb-dump'
params.bwa          = 'bwa-mem2'

/*
-------------------------------------------------------------------------
    Set to true, if analysis should be skip
-------------------------------------------------------------------------
*/


params.skip_mapping     = true
params.skip_kraken      = true
params.skip_blastx      = true
params.skip_blastn      = true
params.skip_readseeker  = true
params.skip_nn          = false

/*
-------------------------------------------------------------------------
    Task memory and cpu configuration
-------------------------------------------------------------------------
*/

params.cpu.mapping    = 60
params.cpu.kraken     = 48
params.cpu.blastx     = 48
params.cpu.blastn     = 60
params.cpu.readseeker = 60
params.cpu.nn_cls     = 60

params.mem.mapping      = 70.GB
params.mem.kraken       = 240.GB
params.mem.blastx       = 50.GB
params.mem.blastn       = 350.GB
params.mem.readseeker   = 100.GB
params.mem.nn_cls       = 100.GB


/*
-------------------------------------------------------------------------
    Chose executor profile here
-------------------------------------------------------------------------
*/

profiles {

    standard {
        process.executor = 'local'
        process.cache = true
    }

    cluster {
        process.executor = 'slurm'
        process.cache = 'lenient'
        process.shell = ["/usr/bin/env", "bash"]
    }

}

/*
-------------------------------------------------------------------------
    Singularity options
-------------------------------------------------------------------------
*/


singularity.enabled = true
singularity.autoMounts = true
singularity.envWhitelist = ['http_proxy', 'https_proxy', 'no_proxy']

/*
-------------------------------------------------------------------------
    Nextflow reporting options
-------------------------------------------------------------------------
*/

report.enabled = false
trace.enabled = false
timeline.enabled = false

report.overwrite = true
trace.overwrite = true
timeline.overwrite = true

/*
-------------------------------------------------------------------------
    Workflow caching options
-------------------------------------------------------------------------
To enable caching we need to create deterministic processes which 
making real copies of the fastq directory in each task workDir.

To disable caching set stageInMode to 'symlink' (default).

Make sure to use the exact nexflow run command, 
which needs to to be resumed. 

Nextflow run commands can be looked up with nextflow log
if keeping prefetched .sra data is not needed 
uncomment line (256) in process MARK_CONVERSION():
#    rm -r \$(readlink ${sra_files})

*/

process.stageInMode = 'copy'