manifest.author = "Dominik Probst"

params.input_file = 'accessions.txt'
params.output = 'data'                  // directory name

params.max_disk_usage = 100000000000    // 100GB

params.file_mode = 'event'              // 'pull' or 'event'
params.pull_interval = 10               // pull interval in sec
params.est_size_fact = 17

/*
References (mind relative filepaths):

TOOL:               REFERENCE:                                                                                                      DATABASE:
mapping:            https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_000001405.26/                                                  (genomic)
kraken2 db:         https://benlangmead.github.io/aws-indexes/k2                                                                    (PlusPFP)
blastn:             https://www.ncbi.nlm.nih.gov/books/NBK569850/                                                                   (nt statt core_nt db)
blastx:             https://ftp.uniprot.org/pub/databases/uniprot/current_release/knowledgebase/complete/uniprot_sprot.fasta.gz     (protein, muss noch gebaut werden)
complete-genomes:   https://hackmd.io/@AstrobioMike/RefSeq-db-download                                                              (complete-genomes) => F: Welches Tool braucht diese db? 
*/


//notice: better use absolute paths to databases
params.mapping_database = [
    '/data/ldap/projekte/dtrinh_master/cbmi-dna-sequencing-wf/workflow/refseq/GCF_000001405.40_GRCh38.p14/genomic/GCF_000001405.40_GRCh38.p14_genomic.fna'
]

params.kraken2_database = [
    '/data/ldap/projekte/dtrinh_master/cbmi-dna-sequencing-wf/workflow/refseq/k2-pluspfp-db'
]

params.blastx_database = [
    '/data/ldap/projekte/dtrinh_master/cbmi-dna-sequencing-wf/workflow/refseq/swissprot_2025_04/swissprot_2025_04'
]

params.blastn_database = [
    '/data/ldap/projekte/dtrinh_master/cbmi-dna-sequencing-wf/workflow/refseq/blast-db-nt/nt'
]

params.prefetch = 'prefetch'
params.fasterq_dump = 'fasterq-dump'
params.vdb_dump = 'vdb-dump'
params.bwa = 'bwa-mem2'

params.skip_mapping = false
params.skip_kraken = false
params.skip_blastx = false
params.skip_blastn = false

params.cpu.mapping = 48
params.cpu.kraken = 12
params.cpu.blastx = 40
params.cpu.blastn = 8
params.mem.mapping = 60.GB
params.mem.kraken = 60.GB
params.mem.blastx = 48.GB
params.mem.blastn = 72.GB

/*
// blast algorithm parameters (general)
def max_target_sequences_range = [10, 50, 100, 250, 500, 1000, 5000]
def word_size_range = [16, 20, 24, 28, 32, 48, 64]

params {
    blastn {
        max_target_sequences = 100
        short_queries = true
        expected_threshold = 0.05
        word_size = 28
        max_matches_in_a_query_range = 0
    }

    blastx {}
    readseeker {}

}
*/

profiles {

    standard {
        process.executor = 'local'
        process.cache = true
    }

    cluster {
        process.executor = 'slurm'
        process.cache = 'lenient'
    }

}

singularity.enabled = true
singularity.autoMounts = true
singularity.envWhitelist = ['http_proxy', 'https_proxy', 'no_proxy']