/*
========================================================================================
    Nextflow config file for running tests
========================================================================================

USAGE:

tests/
├── process/
│   ├── pipeline.blast_n.nf.test
│   ├── pipeline.blast_x.nf.test
│   ├── ...
└── pipeline/
    └── pipeline.nf.test

nf-test test tests/<subfolder> will run all testfiles inside the directory
Tasks:
    1) Define input files for each process
    2) Define config params for processes + databases 

    Test objects: 
        inputs 
        accessions: 
            ERR12325825
            ERR12325826
        stats.csv
        readscount.csv


    nf-test test --clean
    nf-test test --verbose
    nf-test test --failed   // only run --failed test

    pipeline test: nf-test test tests/pipeline/ --verbose
    process tests: nf-test test tests/process/ --verbose
*/

params.input_file = "${projectDir}/tests/mockdata/accessions.txt"
params.output = "output"
params.max_disk_usage = 200000000000    // 200GB

params.file_mode = 'event'              // 'pull' or 'event'
params.pull_interval = 10               // pull interval in sec
params.est_size_fact = 17
params.readseeker.threshold = 0.5       // threshold for cds and non-cds region. preds with less than threshold will be removed

process.debug = true

params.nt_collection_parts = "002"

/* 
    new database directory structure: 
    database/<tool>/<db_name>/<db_file>
    database/mapping/GCF_000001405.40_GRCh38.p14/genomic/GCF_000001405.40_GRCh38.p14_genomic
    database/kraken2/pluspfp
    database/blastx/swissprot_2025_04/
    database/blastn/nt/nt
    database/blastn/core-nt/core_nt
 */

params.mapping_database = [
    "${projectDir}/reference-db/mapping/homo-sapiens/GCF_000001405.40_GRCh38.p14_genomic.fna"
]

params.kraken2_database = [
    "${projectDir}/reference-db/kraken2/viral"
]

params.blastx_database = [
    "${projectDir}/reference-db/blastx/swissprot_2025_04/swissprot_2025_04"
]

params.blastn_database = [
    "${projectDir}/refseq/blast-db-nt/nt"
]

params.prefetch = 'prefetch'
params.fasterq_dump = 'fasterq-dump'
params.vdb_dump = 'vdb-dump'
params.bwa = 'bwa-mem2'

params.skip_mapping     = true
params.skip_kraken      = true
params.skip_blastx      = true
params.skip_blastn      = true
params.skip_readseeker  = true
params.skip_nn          = false

params.cpu.mapping    = 60
params.cpu.kraken     = 40
params.cpu.blastx     = 40
params.cpu.blastn     = 32           // try 5-6 for speed up
params.cpu.readseeker = 60          // 24-26 in btop
params.cpu.nn_cls     = 60

params.mem.mapping    = 90.GB
params.mem.kraken     = 260.GB
params.mem.blastx     = 8.GB
params.mem.blastn     = 360.GB
params.mem.readseeker = 20.GB
params.mem.nn_cls     = 20.GB

singularity.enabled = true
singularity.autoMounts = true
singularity.envWhitelist = ['http_proxy', 'https_proxy', 'no_proxy']