/*
=========================================================================
    Nextflow config file for running tests
=========================================================================
-------------------------------------------------------------------------
USAGE:
    nf-test test --filter pipeline --verbose


-------------------------------------------------------------------------
    General settings
-------------------------------------------------------------------------
*/

params.input_file = "${projectDir}/tests/mockdata/accessions.txt"
params.output = "output"
params.max_disk_usage = 200000000000    // 200GB

params.file_mode = 'event'              // 'pull' or 'event'
params.pull_interval = 10               // pull interval in sec
params.est_size_fact = 17
params.readseeker.threshold = 0.5       // threshold for cds and non-cds region. preds with less than threshold will be removed

process.debug = false

/*
-------------------------------------------------------------------------
    Paths to Reference Databases
-------------------------------------------------------------------------
*/

params.mapping_database = [
    "${projectDir}/databases/mapping/homo-sapiens/genomic/GCF_000001405.40_GRCh38.p14_genomic.fna"
]

params.kraken2_database = [
    "${projectDir}/databases/kraken2/viral"
    // "${projectDir}/evaluation/experimental-db/kraken2/experimental"
]

params.blastx_database = [
    "${projectDir}/databases/diamond/swissprot_2025_04/swissprot_2025_04"
    // "${projectDir}/evaluation/experimental-db/diamond/experimental"
]

params.blastn_database = [
    "${projectDir}/databases/blastn/nt/nt"
    // "${projectDir}/evaluation/experimental-db/blastn/experimental"
]


/*
-------------------------------------------------------------------------
    Program command names
-------------------------------------------------------------------------
*/

params.prefetch     = 'prefetch'
params.fasterq_dump = 'fasterq-dump'
params.vdb_dump     = 'vdb-dump'
params.bwa          = 'bwa-mem2'

/*
-------------------------------------------------------------------------
    Set to true, if analysis should be skip
-------------------------------------------------------------------------
*/

params.skip_mapping     = false
params.skip_kraken      = false
params.skip_blastx      = false
params.skip_blastn      = false
params.skip_readseeker  = false
params.skip_nn          = false

/*
-------------------------------------------------------------------------
    Task memory and cpu configuration
-------------------------------------------------------------------------
*/

params.cpu.mapping    = 60
params.cpu.kraken     = 40
params.cpu.blastx     = 40
params.cpu.blastn     = 60
params.cpu.readseeker = 60
params.cpu.nn_cls     = 60

params.mem.mapping    = 90.GB
params.mem.kraken     = 260.GB
params.mem.blastx     = 8.GB
params.mem.blastn     = 360.GB
params.mem.readseeker = 20.GB
params.mem.nn_cls     = 20.GB

/*
-------------------------------------------------------------------------
    Singularity options
-------------------------------------------------------------------------
*/

singularity.enabled = true
singularity.autoMounts = true
singularity.envWhitelist = ['http_proxy', 'https_proxy', 'no_proxy']