manifest.author = "Dominik Probst"

params.input_file = 'accessions.txt'
params.output = 'data'

params.max_disk_usage = 100000000000 // 100GB

params.file_mode = 'event' // 'pull' or 'event'
params.pull_interval = 10 // pull interval in sec
params.est_size_fact = 17

params.mapping_database = []
params.kraken2_database = []
params.blastx_database = []
params.blastn_database = []

params.prefetch = 'prefetch'
params.fasterq_dump = 'fasterq-dump'
params.vdb_dump = 'vdb-dump'
params.bwa = 'bwa-mem2'

params.skip_mapping = false
params.skip_kraken = false
params.skip_blastx = false
params.skip_blastn = false

params.cpu.mapping = 24
params.cpu.kraken = 6
params.cpu.blastx = 20
params.cpu.blastn = 4
params.mem.mapping = 20.GB
params.mem.kraken = 20.GB
params.mem.blastx = 16.GB
params.mem.blastn = 24.GB

profiles {

    standard {
        process.executor = 'local'
        process.cache = true
    }

    cluster {
        process.executor = 'slurm'
        process.cache = 'lenient'
    }
    
}

singularity.enabled = false
singularity.autoMounts = true
