manifest.author = "Dominik Probst"

params.input_file = 'accessions.txt'
params.output = 'data'

params.max_disk_usage = 100000000000 // 100GB

params.file_mode = 'event' // 'pull' or 'event'
params.pull_interval = 10 // pull interval in sec
params.est_size_fact = 17

params.mapping_database = [
    '/data/ldap/projekte/dtrinh_master/nixflow-dna-sequencing/dna-sequencing-workflow/workflow/ref_db/ncbi_dataset/data/GCF_000001405.40/GCF_000001405.40_GRCh38.p14_genomic.fna'
]
params.kraken2_database = []
params.blastx_database = []
params.blastn_database = []

params.prefetch = 'prefetch'
params.fasterq_dump = 'fasterq-dump'
params.vdb_dump = 'vdb-dump'
params.bwa = 'bwa-mem2'

params.skip_mapping = false
params.skip_kraken = false
params.skip_blastx = false
params.skip_blastn = false

params.cpu.mapping = 48
params.cpu.kraken = 12
params.cpu.blastx = 40
params.cpu.blastn = 8
params.mem.mapping = 60.GB
params.mem.kraken = 60.GB
params.mem.blastx = 48.GB
params.mem.blastn = 72.GB

profiles {

    standard {
        process.executor = 'local'
        process.cache = true
    }

    cluster {
        process.executor = 'slurm'
        process.cache = 'lenient'
    }
    
}

singularity.enabled = true
singularity.autoMounts = true
singularity.envWhitelist = ['http_proxy', 'https_proxy', 'no_proxy']